// Toute la page
.homepage {
  background-color: #3BDD7C
}

// Première div
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin-left: 80px;
  margin-right: 80px;
  max-width: 1550px;
}

.content-left, .content-right {
  flex: 1;
  max-width: 50%;
  margin-left: 30px;
}

.content-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.title-home h1 {
  color: #3F3F3F;
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.img-homepage {
  width: 700px;
  height: auto;
}

// Deuxième div Discover Activities
.discover-activities {
  background-color: #F5F5F5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  border-radius: 20px;
}

.discover-activities h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.discover-activities .discover-text {
 color: #3BDD7C;
}

.discover-activities .outdoor-text {
  color: #3F3F3F;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
  text-align: center;
}

// Troisième div Carousel
.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
  }

  .card-category {
     height: 200px;
  }

  .title-categories-home {
    color: #FFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .homepage-button {
    font-size: 20px;
    background-color: #3BDD7C;
    padding: 10px;
    color: white;
  }

  .img-thumbnail-home {
    height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
  }

  // Quatrième div Latest Activities
  .latest-activity-image {
    position: relative;
  }

  .row-activity {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .col-activity {
    position: relative;
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    height: 300px;
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-latest-activities {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

.activity-image,
.activity-title {
    width: 100%;
    padding: 0;
}

.activity-image {
  flex-shrink: 0;
  position: relative;
}

.activity-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
}

.activity-title {
  flex: 1;
  background-color: #3BDD7C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.activity-title h3 {
  margin-bottom: 10px;
}

  .activity-title a:hover {
    background-color: #29a064;
  }


  .discovery-homepage {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }


  .card-index {
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .card-index:hover {
    transform: scale(1.05);
  }

  .card-index-map {
    background-image: image-url('carte.jpg');
  }

  .card-index-annonce {
    background-image: image-url('annonce.jpg');
  }

  .activity-title a:hover {
    background-color: #29a064;
}

.activity-date {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
