.container-back {
  background-color: #f0f0f0;
  padding: 30px;
}

.container-new {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f0f0f0;
  padding-bottom: 20px;
}

.container-user {
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.banniere-nouvelle-annonce {
  background-color: #3bdd7c;
  margin: 0 -20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.banniere-nouvelle-annonce h1 {
  margin: 0;
  font-size: 32px;
  color: white;
}

.container-user {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.field-container .form-group {
  flex: 1;
  margin-right: 10px;
}

.field-container label {
  margin-right: 10px;
}

.submit-button {
  background-color: #3BDD7C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3BDD7C;
}

.small-input {
  max-width: 30%;
}

.float-right {
  float: right;
}
