// .card-background-profile{
//   border-radius: 10px;
//   padding-top: 5px;
// }
.prof {
  height: 150px;
  width: 300px;
  background-color: white;
}

.card2 {
height: 150px;
width: 300px;
}
.card1{
  width: 250px;
  height: 250px;
}
// .card1 {
//   height: 150px;
//   width: 200px;
//   background-color: black;
//   color: white;
//   }
.card {
  height: 400px;
  width: 300px;
  }

.card3 {
  height: 450px;
  width: 1300px;
  background-color: white;

  }

.card-profile {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: black;
}

.card-profile p{
  margin: 0;
}

.titre-profile{
  color: white;
}

.img-thumbnail-profile {
  border: 1px solid white;
}
