.card-background-profile{
  border-radius: 10px;
  padding-top: 5px;
}

.card-profile {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.card-profile p{
  margin: 0;
}
