
<div class="retour-home">
<%= link_to "< Retour à l'accueil", root_path, class:"btn" %>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-4">
    </div>
    <%= turbo_stream_from "chatrooms" %>
    <div class="chatrooms">
        <%= render @chatroom %>
    </div>
  </div>
</div>
