<div class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to root_path, class: "footer-brand" do %>
          <img src="<%= image_url('outdoor-logo') %>" alt="Logo" class="img-fluid">
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
