.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.container-end{
  margin-top: 100px;
  margin-left: 370px;
  height: 600px;
  width: 800px;
}
.m{
  margin-left: 280px;
  margin-bottom: 50px;
}

.btn-log{
  text-decoration: none;
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
  background-color: #3BDD7C;
  height: 35px;
  width: 165px;
  border-radius: 8px;
  color: white;
  padding: 5px
}

.alert-booking-succes {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
}
