

.card-annonce {
  color: black;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.activity-date {
  position: absolute;
  z-index: 1;
}

.activity-picto {
  position: absolute;
  z-index: 11;
  bottom: 45%;
  right: 5%;
}

.img-thumbnail {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -15px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.card-body {
  background-color: #3BDD7C;
  border-radius : 10px;
  color: white;
  position: relative;
  z-index: 10;
  padding: 2vmin;
  height: 230px;
}

.card-btn{
  background-color: #3BDD7C;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  padding: 1vmin 2vmin;
}

.card-btn:hover{
  background-color: #3f3f3f;
  color: white;
  border-radius: 10px;
  border: 2px solid #3f3f3f;
}

.card-cta {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  border: none;
  border-radius: 10px;
  background-color: #3BDD7C;
  box-shadow: 1px 1px 1px #AA9F9F;
  padding: 1vmin 5vmin;
  color: white;
}
.image-container {
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-name {
  margin: 0!important;
}

.picto-card {
  margin-right: 10px;
  margin-left: 9px;
}

.card-attribute {
  margin-left: 19px;
}

.annonce-title {
  border-radius: 10px;
  background-color: aqua;
}
