// Bannière navbar
.navbar-outdoor {
  justify-content: space-between;
  background: #3BDD7C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 10vh;
}

// Bannière navbar
.navbar-outdoor .navbar-collapse {
  flex-grow: 0;
}

// Logo navbar
.navbar-outdoor .navbar-brand img {
  width: 250px;
  margin-left: 20px;
}

// Element navbar
.nav-item {
  font-size: 20px;
  font-family: Signika, sans-serif;
  color: #3F3F3F;
  font-weight: bold;
  margin-right: 20px;
}

// Element gris foncé navbar
.nav-item:hover .nav-link {
  color: #F2F2F2;
}

// Element blanc navbar
.nav-item.white .nav-link {
  color: white;
}

// Element navbar actif (texte blanc souligné en blanc)
.nav-item.active .nav-link {
  color: #F2F2F2;
  text-decoration: underline;
  text-decoration-color: #F2F2F2;
}
