<div class="toto-flip-card">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>Bravo au batch <strong>#1682!</strong> </h1>
        <p>Bon courage pour la suite</p>
        <div class="gif-flip-car">
           <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dcea9793783231.62642903be711.gif" style="width: 300px;" alt="">
        </div>
      </div>
      <div class="flip-card-back">
      </div>
    </div>
  </div>
</div>
